@font-face {
	font-family: splendid;
	src: url('fonts/SplendidSerif.otf');

}


body{
	font-family: 'splendid';
	font-size: 200%;
	color: #6c6566;
}

header{
	margin-top: 70px;
	margin-bottom: 70px !important;
}
footer{
	margin-top: 150px !important;
	margin-bottom: 250px !important;
}
footer a{
	color: #6c6566;
	font-size: 0.9em
}
footer a:hover{
	text-decoration: none;
	font-size: 1.1em;
	color: #333;
}

footer{
	margin-top: 300px !important;
	margin-bottom: 50px;
}
h1:before, h1:after{
	content: ".";
	top: -3px;
	position: relative;
}
h1:before{
	padding-right: 15px
}
h1:after{
	padding-left: 15px
}
h1{
	margin-top: 100px;
	font-size: 0.8em;
	letter-spacing: 10px;
}
h3{
	font-size: 0.8em;
	letter-spacing: 10px;
	margin-bottom: 100px;
}
h2{
	font-size: 0.8em;
	letter-spacing: 10px;
}
p{
	line-height: 120%;
	text-align: justify;
	font-size: 0.9em;	
}

.box-lang{
	text-align: center;	
	width: 25px;
	margin-top: -50px
}
.box-lang a{
	
	font-size: 0.7em;
	color: #6c6566;
	transition: all 0.1s linear;
	writing-mode: vertical-lr;
	text-orientation: upright;
}
.box-lang a:hover{
	font-weight: bolder;
	text-decoration: none;
	font-size: 0.9em;
}
.box-lang .selected{
	font-weight: bolder;
	color: #333;
}
.box-logo-hide{
	display: none;
	font-size: 2em;
	margin-bottom: 20px; 
	text-align: center !important;
}
.box-abs-logo{
	margin-top: 50px;
}
.box-abs-logo span{	
	font-size: 0.75em;
	font-weight:normal;
	text-shadow: 0px 0px 1px #ccc;
	margin-top:100px;
	vertical-align: top;
	letter-spacing: 10px;
	writing-mode: vertical-lr;
	text-orientation: upright;
}
.box-abs-logo span + span{
	margin-top: 120px;
}
.margin-top{
	margin-top: 75px;
}
.margin-text-top{
	margin-top: 280px;
}
.align-bottom{
	bottom: -50px;
}
.align-bottom-2{
	bottom: -45px;
}

/*textos capa e local project*/
.padding-text-capa{
	padding: 60px !important;
	
}
.padding-text-capa p{
	padding-bottom: 5px !important
	}
.margin-text-1{
	padding-left: 100px !important;
	padding-right: 20px !important
}
.margin-text-2{
	margin-top: 130px;
}
.margin-text-3{
	margin-top: 50px;
	padding-left: 20px !important;
	padding-right: 100px !important
}

/********************/

.vertical-align-text{
  display: flex;
  align-items: center;
}
/*
.box-abs-pais{
	position: absolute;
	right: 16%;
	top: 32%;
	z-index: 9999;  	
}
.box-abs-pais span{
	writing-mode: vertical-lr;
	text-orientation: upright;
	letter-spacing: 4px;
	font-size: 1.1em;
	letter-spacing: 290% !important;	
}*/
.img-hover{
	opacity: 0.5;
	transition: all 0.2s linear;
}
.img-hover:hover{
	opacity: 1 !important;
	transform:scale(1.03);
	z-index: 9999 !important;
}
.padding-text-col-6 p{
	padding-left: 100px !important;
	padding-right: 100px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.padding-text-col-8 p{
	padding-left: 130px !important;
	padding-right: 130px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.padding-text-top{
	margin-top: 120px;
}
.padding-text-top-2{
	margin-top: 110px;
}
.padding-text-col-4 p{
	padding-left: 60px !important;
	padding-right: 60px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.padding-text-2 p, .padding-text-3 p{
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}
.padding-text-col-12{
	padding-top: 60px !important;
	padding-bottom: 60px !important;
}
.padding-left{
	padding-left: 100px !important;
	padding-right: 100px !important;
}
.padding-text-col-12 p{
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}





.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, 
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, 
.col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, 
.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, 
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, 
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, 
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
.col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, 
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, 
.col-xs-7, .col-xs-8, .col-xs-9{
	padding: 3px;
	   
}


@media (max-width: 767px) {
	
	.margin-text-1, .margin-text-2, .margin-text-3{
		margin-top: 0px
	}
	.margin-top, .margin-text-top{
		margin-top: 0;
	}
	.box-lang{
		width: auto;
		text-align: center;
		margin-top: 0px
	}
	.box-lang a{
		display: inline-block;		
		padding: 5px;
		margin-top: 5px;
		font-size: 1em;
		writing-mode: horizontal-tb;
	text-orientation: all;

	}
	.box-logo-hide{
		display: block;
	}
	.box-abs-logo{
		display: none;
		/*width: 100%;
		font-size: 1.2em;
		margin-bottom: 20px; 
		position: relative;
		height: auto;
		top: 0;
		right: 0;
		text-align: center !important;*/
	}
	.box-abs-logo span{
		writing-mode: horizontal-tb;
	}
	.box-lang{
			position: relative;	
	}	
	.align-bottom, .align-bottom-2{
		bottom: 0px;
	}	
	
	.padding-text-col-6 p, .padding-text-col-6 p, 
	.padding-text-col-8 p, .padding-text-col-4 p, 
	.padding-text-col-12 p{
		padding: 10px 0px 10px 0px !important;
	}	
	.padding-text-top, .padding-text-top-2{
		margin-top: 0px;
	}
	
	
	.box-abs-pais{
		position: relative;
		right: 0;
		top: 0;
		text-align: center;
	  	
	}
	.box-abs-pais span{
		writing-mode: horizontal-tb; 
		text-orientation: upright;
		font-size: 1.5em;
		font-weight: bolder;
	}
	.vertical-align-text{
		display: block;
	  	align-items: all;
	}
	.img-hover{
		opacity: 1;
		transition: none;
	}
	.img-hover:hover{
		transform: none;
	}
		
	h1{
		margin-top: 30px;
		margin-right: 0px;
		text-align: center;
		font-size: 1.8em !important;
		letter-spacing: 0px;
	}
	h2{
		letter-spacing: 0px;
		font-size: 1.6em !important
	}
	h3{
		margin-bottom: 10px;
		letter-spacing: 0px;
		font-size: 2em !important
	}

	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, 
	.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, 
	.col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, 
	.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, 
	.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, 
	.col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, 
	.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
	.col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, 
	.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, 
	.col-xs-7, .col-xs-8, .col-xs-9{
		padding: 1px !important;
	}
	.row{
	 	padding-left: 15px !important;
	 	padding-right: 15px !important;
	}

	header{
		margin-top: 0px;
		margin-bottom: 40px !important;
	}

	footer{
		margin-top: 50px !important;
		margin-bottom: 50px !important;
	}

	

}

img.lazy {
	margin: auto;
}

